button.raised {
    width: 8em;
    padding: 0.25em 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

button.ghost {
    border-width: 2px;
    border-style: solid;
    transition: background .25s;
}

button.ghost:hover {
    background: #caff42;
    color: #5a8fb3;
}
