<header data-size={{page.headerSize}}>
    <a href="/">
        <h2><♁></h2>
        <h1>Hack the Web</h1>
    </a>
    <nav>
        <ul>
            <a href="/schedule"><li>
                Schedule
            </li></a>
            <a href="/workshops"><li>
                Workshops
            </li></a>
            <a href="/about"><li>
                About
            </li></a>
    </nav>
    <h4>July 2016, Tel Aviv</h4>
    <a href="http://goo.gl/forms/1bZgWRUdHrlOf6jC3">
        <button class="raised ghost">Apply Now</button>
    </a>
</header>
